workflow/obs_example/华为云OBS下载示例.yml
app:
  description: 华为云OBS示例
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 华为云OBS下载示例
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1747048966075-source-1747278006102-target
      source: '1747048966075'
      sourceHandle: source
      target: '1747278006102'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1747278006102-source-1747120895544-target
      source: '1747278006102'
      sourceHandle: source
      target: '1747120895544'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 桶名称
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: bucket_name
        - label: 对象KEY
          max_length: 128
          options: []
          required: true
          type: text-input
          variable: object_key
      height: 116
      id: '1747048966075'
      position:
        x: -70
        y: -74
      positionAbsolute:
        x: -70
        y: -74
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: bucket name
            ja_JP: bucket name
            pt_BR: bucket name
            zh_Hans: 桶名称
          label:
            en_US: bucket name
            ja_JP: bucket name
            pt_BR: bucket name
            zh_Hans: 桶名称
          llm_description: 输入的OBS的桶名称。
          max: null
          min: null
          name: bucket_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Object Key in Huawei Cloud OBS.
            ja_JP: Object Key in Huawei Cloud OBS.
            pt_BR: Object Key in Huawei Cloud OBS.
            zh_Hans: 华为云OBS中的对象名称
          label:
            en_US: Object Key
            ja_JP: Object Key
            pt_BR: Object Key
            zh_Hans: 文件对象名称
          llm_description: 华为云OBS中的对象名
          max: null
          min: null
          name: object_key
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          bucket_name: ''
          object_key: ''
        provider_id: 6b4a1049-0eb0-444c-be4f-86ae5d0a7ac7/huawei-cloud-obs/huawei-cloud-obs
        provider_name: 6b4a1049-0eb0-444c-be4f-86ae5d0a7ac7/huawei-cloud-obs/huawei-cloud-obs
        provider_type: builtin
        selected: false
        title: 下载对象
        tool_configurations: {}
        tool_description: 下载对象
        tool_label: 下载对象
        tool_name: get_object
        tool_parameters:
          bucket_name:
            type: mixed
            value: '{{#1747048966075.bucket_name#}}'
          object_key:
            type: mixed
            value: '{{#1747048966075.object_key#}}'
        type: tool
      height: 54
      id: '1747278006102'
      position:
        x: 321
        y: -74
      positionAbsolute:
        x: 321
        y: -74
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1747278006102'
          - files
          variable: 对象文件
        selected: false
        title: 对象文件
        type: end
      height: 90
      id: '1747120895544'
      position:
        x: 747
        y: -74
      positionAbsolute:
        x: 747
        y: -74
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 294
      y: 416.5
      zoom: 1
